### String Methods

#### upper()

Converts all characters in the string to uppercase.

In [ ]:
s = "hello world"
print(s.upper())  # 'HELLO WORLD'

#### lower()

Converts all characters to lowercase.

In [ ]:
s = "Hello WORLD"
print(s.lower())  # 'hello world'

#### strip()

Removes leading and trailing whitespaces (not inner spaces).

In [ ]:
s = "   hello world   "
print(s.strip())  # 'hello world'

#### find()

Returns the index of the first occurrence of a substring.

In [ ]:
s = "hello world"
print(s.find("world"))   # 6
print(s.find("x"))       # -1 (not found)

#### replace()

Replaces all occurrences of a substring with another string.

In [ ]:
s = "I love Java"
print(s.replace("Java", "Python"))  # 'I love Python'

In [ ]:
text = "apple apple apple"
print(text.replace("apple", "orange", 2))  # 'orange orange apple'

#### split()

Splits the string into a list based on a delimiter.

In [ ]:
s = "apple,banana,orange"
print(s.split(","))  # ['apple', 'banana', 'orange']

#### join()

Joins elements of a list into a single string using a delimiter.

In [ ]:
fruits = ['apple', 'banana', 'orange']
print(", ".join(fruits))  # 'apple, banana, orange'